main > div {
    width: 1150px;
    height: 700px;
    padding: 40px;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}
main .login {
    width: 560px;
    height: 505px;
    margin-top: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

main .login .loginbox .row {
    display: block;
    padding: 0px 59px 15px;
}
main .login .loginbox > h3 {
    margin-top: 30px;
    text-align: center;
}
main .login .loginbox .row > strong {
    float: left;
    display: block;
}
main .login .loginbox .row > input {
    clear: left;
}

main .login .loginbox {}
main .login .loginbox .btn_login {
    width: 440px;
    height: 54px;
    margin: 30px 59px 0;
    background-color: #19734f;
    color: #fff;
}
main .login .loginbox > div {
    width: 440px;
    margin: 0 auto;
}
main .login .loginbox .btn_login_other {
    margin-top: 10px;
    width: 215px;
    height: 54px;
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    color: #808080;
}
main .login .loginbox .btn_login_other:nth-of-type(2) {
    float: right;
}