/* 공통 */
main > div {
    width: 1150px;
    height: 100%;
    padding: 25px 40px 0px 40px;
    margin: 0 auto;
    box-sizing: border-box;
}
main > div > h1 {
    margin-left: 33px;
    margin-bottom: 23px;
}

    /* 회원가입단계 */
main .steper {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
main .steper .step {
    float: left;
    width: 33.333%;
    height: 60%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 14px 0px;
    border: 1px solid #808080;
    box-sizing: border-box;
}
main .steper .on {
    border: 1px solid #ffa02f;
    font-size: 25px;
    font-weight: 400;
    padding: 9px 0px;
    background: #ffa02f;
    color: white;
}


/* 회원약관 및 필수정보 - step1 */
main .register1 {
    width: 1150px;
    height: 100%;
    min-height: 840px;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}
    /* 회원약관동의 */
main > form .showTerms {
    width: 100%;
    height: 100%;
}
main > form .showTerms .terms {
    margin-bottom: 20px;
}
main > form .showTerms .terms > h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
main .showTerms .termsBox {
    overflow-y: auto;
    height: 120px;
    padding: 21px 25px;
    border: 1px solid #dedede;
    background-color: #fafafa;
    color: #666;
    font-size: 13px;
}
main .showTerms .terms .agreeArea {
    margin-left: 12px;
}
main .showTerms .terms .agreeArea > label {
    margin-right: 16px;
}
main .showTerms .AllagreeArea > input {
    margin-left: 12px;
}
main .showTerms .AllagreeArea > label {
    font-size: 14px;
}

    /* 필수 정보 입력란 */
main > form .informations {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    box-sizing: border-box;
}
main > form .informations > h3 {
    font-size: 22px;
    margin: 10px 0px;
}
main .informations > div {
    width: 50%;
    height: 50px;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;
}
main .informations .inf_name {
    float: left;
}
main .informations .inf_sex {
    float: right;
}
main .informations .inf_birth {
    float: left;
}
main .informations .inf_tel {
    float: right;
}
main .informations .row > span {
    display: inline-block;
    padding: 15px;
    width: 160px;
    height: 49px;
    box-sizing: border-box;
    background-color: #fafafa;
}
main .informations .row > input {
    width: 180px;
    height: 25px;
    margin-left: 16px;
}
main .informations .row .chk {
    width: 20px;
    height: 15px;
    margin-left: 15px;
}
main .informations .row > label {
    font-size: 15px;
    font-weight: 400;
}

main > .register1 > .btn {
    font-size: 15px;
}
main > .register1 > .btn_register {
    width: 440px;
    height: 54px;
    margin: 10px 315px;
    background-color: #ffa02f;
    color: #fff;
    border: none;
}

/* 정보입력 - step2 */
main .register2 {
    width: 1150px;
    height: 100%;
    min-height: 840px;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}



















/* 회원가입완료 - step3 */
main .register3 {
    width: 1150px;
    height: 100%;
    min-height: 840px;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}
